body,td,th {
	font-family: Times New Roman, Times, serif;
}
body {
	background-color: #CC9900;
	background-image: url(images/body-bg.jpg);
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}
a {
	font-family: Times New Roman, Times, serif;
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Times New Roman, Times, serif;
}
